git+https://github.com/allenai/olmes@4f04122642bcee6d74393ec2ecfb0e572a64da53

accelerate==1.6.0
arithmetic_compressor==0.2
boto3==1.37.35
dahuffman==0.4.2
datasets==3.5.0
ipykernel==6.29.5
matplotlib==3.10.1
mypy==1.15.0
numpy<2
pandas==2.2.3
pytest==8.3.5
scipy==1.15.2
seaborn==0.13.2
torch==2.6.0
transformers==4.50.3
triton==3.2.0
